#project
#### Reza Dwi Putra

This project aim to cleaning sales data and make an categorical analysis

In [ ]:
#Import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
#!pip uninstall openpyxl
#!pip install openpyxl

In [ ]:
!python --version

Python 3.7.12

# Import dataset kabupaten-kota

In [ ]:
df_kab = pd.read_csv('https://raw.githubusercontent.com/rezadepe/DigitalSkola_batch-6/main/Kota%20-%20Kabupaten%20Indonesia.csv')

In [ ]:
df_kab

     Reg code  Prov Code                Regencies
0        1101         11       KABUPATEN SIMEULUE
1        1102         11   KABUPATEN ACEH SINGKIL
2        1103         11   KABUPATEN ACEH SELATAN
3        1104         11  KABUPATEN ACEH TENGGARA
4        1105         11     KABUPATEN ACEH TIMUR
..        ...        ...                      ...
509      9433         94         KABUPATEN PUNCAK
510      9434         94        KABUPATEN DOGIYAI
511      9435         94     KABUPATEN INTAN JAYA
512      9436         94         KABUPATEN DEIYAI
513      9471         94            KOTA JAYAPURA

[514 rows x 3 columns]

In [ ]:
df_prov = pd.read_csv('https://raw.githubusercontent.com/rezadepe/DigitalSkola_batch-6/main/Provinsi%20indonesia.csv')

In [ ]:
# Merge dataset with prov code
df_kab = df_kab.merge(df_prov, left_on='Prov Code', right_on='Prov Code')

In [ ]:
#change KABUPATE KOTA BARU to KABUPATEN KOTABARU

In [ ]:
df_kab['Regencies'].loc[[343]]='KABUPATEN KOTABARU'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df_kab.loc[[343]]

     Reg code  Prov Code           Regencies            Province
343      6302         63  KABUPATEN KOTABARU  KALIMANTAN SELATAN

In [ ]:
#Remove Kab/kot strings
df_kab['Regencies'] = df_kab['Regencies'].str.replace('KABUPATEN ', '')
df_kab['Regencies'] = df_kab['Regencies'].str.replace('KOTA ', '')

In [ ]:
#Create kab/kot list
list_kab = df_kab['Regencies'].to_list()

In [ ]:
#Sort length value on list from long to short
def my_sort_func(my_elemm):
   return len(my_elem)

list_kab.sort(key = my_sort_func, reverse=True)

In [ ]:
list_kab

['PENUKAL ABAB LEMATANG ILIR',
 'OGAN KOMERING ULU SELATAN',
 'BOLAANG MONGONDOW SELATAN',
 'PANGKAJENE DAN KEPULAUAN',
 'OGAN KOMERING ULU TIMUR',
 'BOLAANG MONGONDOW UTARA',
 'BOLAANG MONGONDOW TIMUR',
 'SIAU TAGULANDANG BIARO',
 'MALUKU TENGGARA BARAT',
 'LABUHAN BATU SELATAN',
 'TANJUNG JABUNG TIMUR',
 'TANJUNG JABUNG BARAT',
 'TIMOR TENGAH SELATAN',
 'TULANG BAWANG BARAT',
 'HULU SUNGAI SELATAN',
 'PENAJAM PASER UTARA',
 'HUMBANG HASUNDUTAN',
 'PADANG LAWAS UTARA',
 'LABUHAN BATU UTARA',
 'KEPULAUAN MENTAWAI',
 'OGAN KOMERING ILIR',
 'TIMOR TENGAH UTARA',
 'KOTAWARINGIN BARAT',
 'KOTAWARINGIN TIMUR',
 'HULU SUNGAI TENGAH',
 'SERAM BAGIAN BARAT',
 'SERAM BAGIAN TIMUR',
 'PEGUNUNGAN BINTANG',
 'KEPULAUAN MERANTI',
 'OGAN KOMERING ULU',
 'KEPULAUAN ANAMBAS',
 'TANGERANG SELATAN',
 'HULU SUNGAI UTARA',
 'KUTAI KARTANEGARA',
 'BOLAANG MONGONDOW',
 'KEPULAUAN SANGIHE',
 'MINAHASA TENGGARA',
 'BANGGAI KEPULAUAN',
 'KEPULAUAN SELAYAR',
 'SIDENRENG RAPPANG',
 'MALUKU BARAT DAYA',
 'HALMAHERA SELATAN',
 'MANOKWARI SELATAN',
 'MANDAILING NATAL',
 'TAPANULI SELATAN',
 'PEMATANG SIANTAR',
 'KUANTAN SINGINGI',
 'MUSI RAWAS UTARA',
 'BENGKULU SELATAN',
 'KEPULAUAN SERIBU',
 'SUMBA BARAT DAYA',
 'KEPULAUAN TALAUD',
 'MINAHASA SELATAN',
 'KONAWE KEPULAUAN',
 'HALMAHERA TENGAH',
 'TIDORE KEPULAUAN',
 'PEGUNUNGAN ARFAK',
 'MAMBERAMO TENGAH',
 'ACEH BARAT DAYA',
 'TAPANULI TENGAH',
 'SERDANG BEDAGAI',
 'PADANGSIDIMPUAN',
 'PESISIR SELATAN',
 'PADANG PARIAMAN',
 'LIMA PULUH KOTA',
 'INDRAGIRI HILIR',
 'BENGKULU TENGAH',
 'LAMPUNG SELATAN',
 'JAKARTA SELATAN',
 'MANGGARAI BARAT',
 'MANGGARAI TIMUR',
 'GORONTALO UTARA',
 'POLEWALI MANDAR',
 'MALUKU TENGGARA',
 'HALMAHERA BARAT',
 'HALMAHERA UTARA',
 'HALMAHERA TIMUR',
 'KEPULAUAN YAPEN',
 'TAPANULI UTARA',
 'PADANG PANJANG',
 'INDRAGIRI HULU',
 'MUSI BANYUASIN',
 'BENGKULU UTARA',
 'LAMPUNG TENGAH',
 'BANDAR LAMPUNG',
 'BANGKA SELATAN',
 'BELITUNG TIMUR',
 'PANGKAL PINANG',
 'TANJUNG PINANG',
 'BARITO SELATAN',
 'MINAHASA UTARA',
 'PARIGI MOUTONG',
 'MOROWALI UTARA',
 'KONAWE SELATAN',
 'KEPULAUAN SULA',
 'SORONG SELATAN',
 'MAMBERAMO RAYA',
 'ACEH TENGGARA',
 'PAKPAK BHARAT',
 'TANJUNG BALAI',
 'TEBING TINGGI',
 'SOLOK SELATAN',
 'PASAMAN BARAT',
 'REJANG LEBONG',
 'LAMPUNG BARAT',
 'LAMPUNG TIMUR',
 'LAMPUNG UTARA',
 'PESISIR BARAT',
 'BANGKA TENGAH',
 'JAKARTA TIMUR',
 'JAKARTA PUSAT',
 'JAKARTA BARAT',
 'JAKARTA UTARA',
 'BANDUNG BARAT',
 'LOMBOK TENGAH',
 'SUMBAWA BARAT',
 'PALANGKA RAYA',
 'BUTON SELATAN',
 'MAMUJU TENGAH',
 'MALUKU TENGAH',
 'KEPULAUAN ARU',
 'PULAU MOROTAI',
 'PULAU TALIABU',
 'TELUK WONDAMA',
 'TELUK BINTUNI',
 'ACEH SINGKIL',
 'ACEH SELATAN',
 'ACEH TAMIANG',
 'BENER MERIAH',
 'SUBULUSSALAM',
 'TOBA SAMOSIR',
 'LABUHAN BATU',
 'DELI SERDANG',
 'NIAS SELATAN',
 'PADANG LAWAS',
 'GUNUNGSITOLI',
 'SUNGAI PENUH',
 'EMPAT LAWANG',
 'LUBUKLINGGAU',
 'TULANGBAWANG',
 'BANGKA BARAT',
 'BANJARNEGARA',
 'GUNUNG KIDUL',
 'LOMBOK BARAT',
 'LOMBOK TIMUR',
 'LOMBOK UTARA',
 'FLORES TIMUR',
 'SUMBA TENGAH',
 'KAYONG UTARA',
 'BARITO UTARA',
 'PULANG PISAU',
 'BARITO TIMUR',
 'BARITO KUALA',
 'MAHAKAM HULU',
 'TOJO UNA-UNA',
 'BANGGAI LAUT',
 'TORAJA UTARA',
 'KOLAKA UTARA',
 'KONAWE UTARA',
 'KOLAKA TIMUR',
 'BUTON TENGAH',
 'BONE BOLANGO',
 'MAMUJU UTARA',
 'BURU SELATAN',
 'BOVEN DIGOEL',
 'ACEH TENGAH',
 'LHOKSEUMAWE',
 'TANAH DATAR',
 'DHARMASRAYA',
 'SAWAH LUNTO',
 'BUKITTINGGI',
 'ROKAN HILIR',
 'BATANG HARI',
 'MUARO JAMBI',
 'TASIKMALAYA',
 'PANGANDARAN',
 'TASIKMALAYA',
 'PURBALINGGA',
 'KARANGANYAR',
 'KULON PROGO',
 'TULUNGAGUNG',
 'PROBOLINGGO',
 'PROBOLINGGO',
 'KARANG ASEM',
 'SUMBA BARAT',
 'SUMBA TIMUR',
 'SABU RAIJUA',
 'KAPUAS HULU',
 'MURUNG RAYA',
 'TANAH BUMBU',
 'BANJARMASIN',
 'BANJAR BARU',
 'KUTAI BARAT',
 'KUTAI TIMUR',
 'TANA TIDUNG',
 'TANA TORAJA',
 'BUTON UTARA',
 'BIAK NUMFOR',
 'PUNCAK JAYA',
 'ACEH TIMUR',
 'ACEH BARAT',
 'ACEH BESAR',
 'ACEH UTARA',
 'NAGAN RAYA',
 'PIDIE JAYA',
 'BANDA ACEH',
 'SIMALUNGUN',
 'NIAS UTARA',
 'NIAS BARAT',
 'PAYAKUMBUH',
 'ROKAN HULU',
 'SAROLANGUN',
 'MUARA ENIM',
 'MUSI RAWAS',
 'BANYU ASIN',
 'PRABUMULIH',
 'PAGAR ALAM',
 'MAJALENGKA',
 'PURWAKARTA',
 'TEMANGGUNG',
 'PEKALONGAN',
 'PEKALONGAN',
 'YOGYAKARTA',
 'TRENGGALEK',
 'BANYUWANGI',
 'BOJONEGORO',
 'PANDEGLANG',
 'BENGKAYANG',
 'SINGKAWANG',
 'GUNUNG MAS',
 'TANAH LAUT',
 'BALIKPAPAN',
 'KOTAMOBAGU',
 'LUWU UTARA',
 'LUWU TIMUR',
 'MUNA BARAT',
 'RAJA AMPAT',
 'JAYAWIJAYA',
 'LANNY JAYA',
 'INTAN JAYA',
 'GAYO LUES',
 'ACEH JAYA',
 'BATU BARA',
 'SIJUNJUNG',
 'PELALAWAN',
 'BENGKALIS',
 'PEKANBARU',
 'OGAN ILIR',
 'PALEMBANG',
 'KEPAHIANG',
 'TANGGAMUS',
 'WAY KANAN',
 'PESAWARAN',
 'PRINGSEWU',
 'INDRAMAYU',
 'PURWOREJO',
 'SUKOHARJO',
 'SURAKARTA',
 'BONDOWOSO',
 'SITUBONDO',
 'MOJOKERTO',
 'BANGKALAN',
 'PAMEKASAN',
 'MOJOKERTO',
 'TANGERANG',
 'TANGERANG',
 'KLUNGKUNG',
 'MANGGARAI',
 'ROTE NDAO',
 'KUBU RAYA',
 'PONTIANAK',
 'SAMARINDA',
 'TOLI-TOLI',
 'BULUKUMBA',
 'JENEPONTO',
 'GORONTALO',
 'GORONTALO',
 'MANOKWARI',
 'SIMEULUE',
 'PARIAMAN',
 'MERANGIN',
 'MUKOMUKO',
 'BENGKULU',
 'BELITUNG',
 'SUKABUMI',
 'KUNINGAN',
 'SUMEDANG',
 'KARAWANG',
 'SUKABUMI',
 'BANYUMAS',
 'WONOSOBO',
 'MAGELANG',
 'BOYOLALI',
 'WONOGIRI',
 'GROBOGAN',
 'SEMARANG',
 'PEMALANG',
 'MAGELANG',
 'SALATIGA',
 'SEMARANG',
 'PONOROGO',
 'LUMAJANG',
 'PASURUAN',
 'SIDOARJO',
 'LAMONGAN',
 'PASURUAN',
 'SURABAYA',
 'JEMBRANA',
 'BULELENG',
 'DENPASAR',
 'MEMPAWAH',
 'KETAPANG',
 'SUKAMARA',
 'LAMANDAU',
 'KATINGAN',
 'KOTABARU',
 'TABALONG',
 'BALANGAN',
 'BULUNGAN',
 'MINAHASA',
 'MOROWALI',
 'DONGGALA',
 'BANTAENG',
 'ENREKANG',
 'MAKASSAR',
 'PAREPARE',
 'WAKATOBI',
 'POHUWATO',
 'TAMBRAUW',
 'JAYAPURA',
 'YAHUKIMO',
 'TOLIKARA',
 'JAYAPURA',
 'BIREUEN',
 'LANGKAT',
 'SAMOSIR',
 'SIBOLGA',
 'PASAMAN',
 'KERINCI',
 'KARIMUN',
 'CIANJUR',
 'BANDUNG',
 'CIREBON',
 'BANDUNG',
 'CIREBON',
 'CILACAP',
 'KEBUMEN',
 'REMBANG',
 'PACITAN',
 'JOMBANG',
 'NGANJUK',
 'MAGETAN',
 'SAMPANG',
 'SUMENEP',
 'CILEGON',
 'TABANAN',
 'GIANYAR',
 'SUMBAWA',
 'MATARAM',
 'LEMBATA',
 'NAGEKEO',
 'SANGGAU',
 'SINTANG',
 'SEKADAU',
 'SERUYAN',
 'BONTANG',
 'MALINAU',
 'NUNUKAN',
 'TARAKAN',
 'TOMOHON',
 'BANGGAI',
 'TAKALAR',
 'SOPPENG',
 'PINRANG',
 'BOMBANA',
 'KENDARI',
 'BOALEMO',
 'TERNATE',
 'KAIMANA',
 'MAYBRAT',
 'MERAUKE',
 'WAROPEN',
 'SUPIORI',
 'DOGIYAI',
 'SABANG',
 'LANGSA',
 'ASAHAN',
 'BINJAI',
 'PADANG',
 'KAMPAR',
 'SELUMA',
 'LEBONG',
 'MESUJI',
 'BANGKA',
 'BINTAN',
 'NATUNA',
 'LINGGA',
 'CIAMIS',
 'SUBANG',
 'BEKASI',
 'BEKASI',
 'CIMAHI',
 'BANJAR',
 'KLATEN',
 'SRAGEN',
 'JEPARA',
 'KENDAL',
 'BATANG',
 'BREBES',
 'BANTUL',
 'SLEMAN',
 'BLITAR',
 'KEDIRI',
 'MALANG',
 'JEMBER',
 'MADIUN',
 'GRESIK',
 'KEDIRI',
 'BLITAR',
 'MALANG',
 'MADIUN',
 'SERANG',
 'SERANG',
 'BADUNG',
 'BANGLI',
 'KUPANG',
 'MALAKA',
 'KUPANG',
 'SAMBAS',
 'LANDAK',
 'MELAWI',
 'KAPUAS',
 'BANJAR',
 'MANADO',
 'BITUNG',
 'SINJAI',
 'PALOPO',
 'KONAWE',
 'KOLAKA',
 'BAUBAU',
 'MAJENE',
 'MAMASA',
 'MAMUJU',
 'FAKFAK',
 'SORONG',
 'SORONG',
 'NABIRE',
 'PANIAI',
 'MIMIKA',
 'KEEROM',
 'YALIMO',
 'PUNCAK',
 'DEIYAI',
 'PIDIE',
 'DAIRI',
 'MEDAN',
 'SOLOK',
 'SOLOK',
 'DUMAI',
 'BUNGO',
 'JAMBI',
 'LAHAT',
 'METRO',
 'BATAM',
 'BOGOR',
 'GARUT',
 'BOGOR',
 'DEPOK',
 'BLORA',
 'KUDUS',
 'DEMAK',
 'TEGAL',
 'TEGAL',
 'NGAWI',
 'TUBAN',
 'LEBAK',
 'DOMPU',
 'SIKKA',
 'NGADA',
 'TAPIN',
 'PASER',
 'BERAU',
 'MAROS',
 'BARRU',
 'BUTON',
 'AMBON',
 'MAPPI',
 'ASMAT',
 'SARMI',
 'NDUGA',
 'NIAS',
 'KARO',
 'AGAM',
 'SIAK',
 'TEBO',
 'KAUR',
 'PATI',
 'BATU',
 'BIMA',
 'BIMA',
 'BELU',
 'ALOR',
 'ENDE',
 'POSO',
 'BUOL',
 'SIGI',
 'PALU',
 'GOWA',
 'BONE',
 'WAJO',
 'LUWU',
 'MUNA',
 'BURU',
 'TUAL']

# Read dataset 1
### Data penjualan reseller shopee

In [ ]:
#load dataset from gdrive source
df1 = pd.read_excel('//content/gdrive/MyDrive/Deepublish/Raw Dataset/Copy of Data penjualan reseller Shopee.xlsx')

In [ ]:
df1.head(2)

  Waktu Pesanan Dibuat  ...     Provinsi
0     2020-10-25 18:48  ...  JAWA TENGAH
1     2020-10-25 18:49  ...  DKI JAKARTA

[2 rows x 10 columns]

In [ ]:
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('KAB. ', '')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('KOTA ', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
#Replacing several kab/kot values on 'Kota/Kabupaten' ()
#df3_2['Tgl Order'] = df3_2['Tgl Order'].str.replace('13-2021', '12-2021')

#VALUE TO BE REPLACED (FOUND ON ITERATING ON FINAL DATASET)
#SELAYAR (KEPULAUAN SELAYAR) = KEPULAUAN SELAYAR
#LUBUK LINGGAU = LUBUKLINGGAU
#BAU-BAU = BAUBAU
#SURAKARTA (SOLO) = SURAKARTA
#SIJUNJUNG (SAWAH LUNTO SIJUNJUNG) = SIJUNJUNG
#BOLAANG MONGONDOW (BOLMONG) = BOLAANG MONGONDOW 
#BARU = BARRU
#LIMA PULUH KOTO/KOTA' = LIMA PULUH 
#BANJARBARU = BANJAR BARU
#PADANG SIDEMPUAN = PADANGSIDIMPUAN

In [ ]:
#find miss spell value
#FILTER option CONTAIN AND EXACT
df1[df1['Kota/Kabupaten'].str.contains('SIJUNJUNG') == True]
#df1[df1['Kota/Kabupaten'] == "SURAKARTA"]

     Waktu Pesanan Dibuat  ...        Provinsi
1158     2021-02-05 00:29  ...  SUMATERA BARAT
2530     2021-03-10 11:43  ...  SUMATERA BARAT
7251     2021-09-07 13:36  ...  SUMATERA BARAT
8776     2021-10-06 22:32  ...  SUMATERA BARAT

[4 rows x 10 columns]

In [ ]:
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('SELAYAR \(KEPULAUAN SELAYAR\)', 'KEPULAUAN SELAYAR')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('LUBUK LINGGAU', 'LUBUKLINGGAU')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('BAU-BAU', 'BAUBAU')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('SURAKARTA \(SOLO\)', 'SURAKARTA')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('SIJUNJUNG \(SAWAH LUNTO SIJUNJUNG\)', 'SIJUNJUNG')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('BOLAANG MONGONDOW \(BOLMONG\)', 'BOLAANG MONGONDOW')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('LIMA PULUH KOTO', 'LIMA PULUH KOTA')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('BANJARBARU', 'BANJAR BARU')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('PADANG SIDEMPUAN', 'PADANGSIDIMPUAN')
df1.loc[[4378],'Kota/Kabupaten'] = 'BARRU'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

## Cust. address to regency Checking Function

In [ ]:
def counter(list):
  for i in range(list):
    for j in list
    if (str())

In [ ]:
def kab(alamat, kab_raw):
  kabupaten=''
  alamat_list = alamat.to_list()
  kab_raw_list = kab_raw.to_list()
  ls_kab = list()
  for i in range(len(alamat_list)):
    for j in list_kab:
      if (str(j) in str(alamat_list[i])):
        #print(j)
        #print(i)
        kabupaten = j
        break
      else:
        # jika tidak ada dalam list, maka ambil kolom kabupaten/kota
        kabupaten = str(kab_raw[i])
    ls_kab.append(kabupaten)
  
  #print(ls_kab)
  return ls_kab

In [ ]:
ls = list()
ls = kab(df1['Alamat Pengiriman'], df1['Kota/Kabupaten'])

In [ ]:
df1['Kabupaten_final'] = ls

In [ ]:
#Remove kab-kot string on final kabupaten features
df1['Kabupaten_final'] = df1['Kabupaten_final'].str.replace('KAB. ', '')
df1['Kabupaten_final'] = df1['Kabupaten_final'].str.replace('KOTA ', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
#seperate time and date to new column for features
df1['order date']= df1['Waktu Pesanan Dibuat'].str[:10]
df1['order time']= df1['Waktu Pesanan Dibuat'].str[11:]

In [ ]:
#Find blank row to be dropped
df1[df1['Nama Produk'].isnull()]

Empty DataFrame
Columns: [Waktu Pesanan Dibuat, Nama Produk, Harga Awal, Jumlah Produk di Pesan, Total Berat, Total Pembayaran, Perkiraan Ongkos Kirim, Alamat Pengiriman, Kota/Kabupaten, Provinsi, Kabupaten_final, order date, order time]
Index: []

In [ ]:
#book title to title case
df1['Nama Produk'] = df1['Nama Produk'].str.title()

In [ ]:
df1['Order Channel']='SHOPEE RESELLER'

In [ ]:
df1

      Waktu Pesanan Dibuat  ...    Order Channel
0         2020-10-25 18:48  ...  SHOPEE RESELLER
1         2020-10-25 18:49  ...  SHOPEE RESELLER
2         2020-12-01 07:46  ...  SHOPEE RESELLER
3         2020-12-01 09:58  ...  SHOPEE RESELLER
4         2020-12-01 11:00  ...  SHOPEE RESELLER
...                    ...  ...              ...
10928     2021-12-15 11:30  ...  SHOPEE RESELLER
10929     2021-12-15 12:16  ...  SHOPEE RESELLER
10930     2021-12-15 12:39  ...  SHOPEE RESELLER
10931     2021-12-15 16:16  ...  SHOPEE RESELLER
10932     2021-12-15 20:06  ...  SHOPEE RESELLER

[10933 rows x 14 columns]

In [ ]:
#find type of value on Harga Awal
df1_1 = df1[pd.to_numeric(df1['Harga Awal'], errors='coerce').notnull()] #isnull tofind string, notnull to find int/float
df1_1

  Waktu Pesanan Dibuat  ...    Order Channel
1     2020-10-25 18:49  ...  SHOPEE RESELLER

[1 rows x 14 columns]

In [ ]:
#change float value on Harga Awal to int
df1['Harga Awal'].replace(to_replace = 67500.0, value =67500,inplace=True)

In [ ]:
df1['Harga Awal'] = df1['Harga Awal'].astype(str)

In [ ]:
df1['Harga Awal'] = df1['Harga Awal'].str.replace('Rp ', '')

In [ ]:
df1['Harga Awal'] = df1['Harga Awal'].str.replace('.', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
df1[df1['Harga Awal'].isnull()]

Empty DataFrame
Columns: [Waktu Pesanan Dibuat, Nama Produk, Harga Awal, Jumlah Produk di Pesan, Total Berat, Total Pembayaran, Perkiraan Ongkos Kirim, Alamat Pengiriman, Kota/Kabupaten, Provinsi, Kabupaten_final, order date, order time, Order Channel]
Index: []

In [ ]:
#change to integer
#df1['Harga Awal'].astype(int)
df1['Harga Awal'] = pd.to_numeric(df1['Harga Awal'])

ValueError: ignored

In [ ]:
df1.iloc[[5434]]

     Waktu Pesanan Dibuat  ...    Order Channel
5434     2021-07-07 08:40  ...  SHOPEE RESELLER

[1 rows x 14 columns]

In [ ]:
df1[df1['Nama Produk'].str.contains('Buku Pembelajaran Ipa Di Sekolah Dasar - ')]

      Waktu Pesanan Dibuat  ...    Order Channel
211       2021-01-01 00:21  ...  SHOPEE RESELLER
552       2021-01-14 15:35  ...  SHOPEE RESELLER
598       2021-01-17 06:21  ...  SHOPEE RESELLER
760       2021-01-22 13:36  ...  SHOPEE RESELLER
2197      2021-03-03 12:58  ...  SHOPEE RESELLER
2924      2021-03-19 17:37  ...  SHOPEE RESELLER
3797      2021-04-18 20:09  ...  SHOPEE RESELLER
4824      2021-06-10 17:14  ...  SHOPEE RESELLER
4923      2021-06-15 15:18  ...  SHOPEE RESELLER
5434      2021-07-07 08:40  ...  SHOPEE RESELLER
5575      2021-07-13 10:47  ...  SHOPEE RESELLER
6966      2021-08-31 13:18  ...  SHOPEE RESELLER
7566      2021-09-13 04:48  ...  SHOPEE RESELLER
8949      2021-10-10 07:18  ...  SHOPEE RESELLER
10609     2021-11-23 21:21  ...  SHOPEE RESELLER

[15 rows x 14 columns]

In [ ]:
df1['Harga Awal'].replace(to_replace = 'nan', value =103000,inplace=True)

In [ ]:
df1.iloc[[5434]]

     Waktu Pesanan Dibuat  ...    Order Channel
5434     2021-07-07 08:40  ...  SHOPEE RESELLER

[1 rows x 14 columns]

In [ ]:
#re asure harga awal is price per book
#df1x = df1[df1['Jumlah Produk di Pesan'] > 3]
#df1x

In [ ]:
#create new column 'Harga Buku'
df1['Harga Buku']=df1['Harga Awal']
#change to integer
#change to integer
df1['Harga Buku'] = df1['Harga Buku'].apply(np.int64)

In [ ]:
#FIND DUPLICATE
#df1d = df1
#df1d =df1d[df1d.duplicated(['Waktu Pesanan Dibuat','Nama Produk','Alamat Pengiriman','Jumlah Produk di Pesan','Harga Awal'], keep=False)]
#df1d

In [ ]:
#CEK TOTAL QTY BUKU SOLD
dft1 = df1.agg({'Jumlah Produk di Pesan':'sum'}).reset_index()
dft1

                    index        0
0  Jumlah Produk di Pesan  15171.0

# Read dataset 2
### Data penjualan Online order 2020

In [ ]:
#load file
df2 = pd.ExcelFile('/content/gdrive/MyDrive/Deepublish/Raw Dataset/Copy of data order online 2020 ed.xlsx')

In [ ]:
df2.sheet_names

['M.JANUARI',
 'R.JANUARI',
 'E.JANUARI',
 'M.FEBRUARI',
 'R.FEBRUARI',
 'E.FEBRUARI',
 'M. MARET',
 'R. MARET',
 'M.APRIL',
 'R. APRIL',
 'M. MEI',
 'R. MEI',
 'M. JUNI',
 'R. JUNI',
 'M.JULI',
 'P. JULI',
 'E. JULI',
 'M. AGUSTUS',
 'P. AGUSTUS',
 'M. SEPTEMBER',
 'P. SEPTEMBER',
 'E. SEPTEMBER',
 'M.OKTOBER',
 'P. OKTOBER',
 'E. OKTOBER',
 'D. OKTOBER',
 'M.NOVEMBER',
 'P. NOVEMBER',
 'E. NOVEMBER',
 'M.DESEMBER',
 'P. DESEMBER',
 'E. DESEMBER']

In [ ]:
df2parse=[df2.parse('M.JANUARI'),df2.parse('M.FEBRUARI'),df2.parse('M. MARET'),df2.parse('M.APRIL'),df2.parse('M. MEI'),df2.parse('M. JUNI'),df2.parse('M.JULI'),df2.parse('M. AGUSTUS'),df2.parse('M. SEPTEMBER'),df2.parse('M.OKTOBER'),df2.parse('M.NOVEMBER'),df2.parse('M.DESEMBER')]

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:211: UserWarning: Cell T28 is marked as a date but the serial value 1404902000006560 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

In [ ]:
#merged all selected dataset 2 on M. coded worksheet
df2_1 = pd.concat(df2parse)

In [ ]:
# uppercase all addres for next function
df2_1['Alamat '] = df2_1['Alamat '].str.upper()

In [ ]:
#drop blank row
df2_1.dropna(subset = ["judul buku "], inplace=True)

In [ ]:
#book title to title case
df2_1['judul buku '] = df2_1['judul buku '].str.title()

In [ ]:
#reset index
df2_1.reset_index(drop=True, inplace=True)

In [ ]:
df2_1

       No            Tgl Order       Pemesan  ... No HP Unnamed: 26 Unnamed: 23
0     1.0  2019-12-30 00:00:00        Sherly  ...   NaN         NaN         NaN
1     2.0  2019-12-30 00:00:00         Nelis  ...   NaN         NaN         NaN
2     3.0  2019-12-30 00:00:00         Richo  ...   NaN         NaN         NaN
3     4.0  2020-01-03 00:00:00     Anggi Dwi  ...   NaN         NaN         NaN
4     5.0  2020-01-08 00:00:00  Siti Ridhani  ...   NaN         NaN         NaN
...   ...                  ...           ...  ...   ...         ...         ...
2526  NaN  2020-12-22 00:00:00           web  ...   NaN         NaN         NaN
2527  NaN  2020-12-22 00:00:00           web  ...   NaN         NaN         NaN
2528  NaN  2020-12-22 00:00:00           web  ...   NaN         NaN         NaN
2529  NaN  2020-12-22 00:00:00        shopee  ...   NaN         NaN         NaN
2530  NaN  2020-12-22 00:00:00           web  ...   NaN         NaN         NaN

[2531 rows x 34 columns]

In [ ]:
#check value
df2x = df2_1[df2_1['jumlah pesanan '] > 49]
df2x

      No            Tgl Order Pemesan  ... No HP Unnamed: 26 Unnamed: 23
865  NaN              11-Juni      WA  ...   NaN         NaN         NaN
866  NaN              11-Juni      WA  ...   NaN         NaN         NaN
2080 NaN  2020-11-02 00:00:00      wa  ...   NaN         NaN         NaN

[3 rows x 34 columns]

In [ ]:
#check nan value
df2_1[df2_1['jumlah pesanan '].isna()]

Empty DataFrame
Columns: [No, Tgl Order, Pemesan, Nama Penerima, Alamat , judul buku , Pengarang, jumlah pesanan , harga satuan , jumlah penjualan, discount, harga setelah diskon, ongkos kirim, Service fee, total, order via, nomor transaksi (invoice dll), KET, tgl kirim , resi , Total per judul, Royalti, Total Real, Diskon, Unnamed: 24, Unnamed: 25, No.1, Market Place, Tanggal, Pukul, Nilai Saldo, No HP, Unnamed: 26, Unnamed: 23]
Index: []

In [ ]:
#separate the date that have year and without year for further cleaning

#month expressed in string
df2_2 =  df2_1[df2_1['Tgl Order'].str.contains('[A-Za-z]' ,na=False)]

#without year
df2_3 = df2_1[df2_1['Tgl Order'].apply(lambda x: len(str(x)) < 6)]

#withyear
df2_4 = df2_1[df2_1['Tgl Order'].apply(lambda x: len(str(x)) > 15)]

In [ ]:
#change month name to month number 
df2_2.replace({'Tgl Order' : {'Mei':'05', 'Juni':'06', 'Juli':'07','Agustus':'08'}}, regex=True,inplace=True)
#add Year
df2_2['Tgl Order' ] += '-2020'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
#change separator slash to stripe
df2_3.replace({'Tgl Order' : {'/':'-'}}, regex=True,inplace=True)
#add Year
df2_3['Tgl Order' ] += '-2020'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df2_4['Tgl Order'] = df2_4['Tgl Order'].astype(str)
df2_4['Tgl Order'] = df2_4['Tgl Order'].str.replace(' 00:00:00', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#create new order date column
df2_2['order date'] =  pd.to_datetime(df2_2['Tgl Order'], format='%d-%m-%Y')
df2_3['order date'] =  pd.to_datetime(df2_3['Tgl Order'], format='%d-%m-%Y')
df2_4['order date'] =  pd.to_datetime(df2_4['Tgl Order'], format='%Y-%m-%d')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
#concat
df2_1_1=pd.concat([df2_2,df2_3,df2_4])

In [ ]:
#kabkot finder function
def kab(alamat):
  kabupaten=''
  alamat_list = alamat.to_list()
  ls_kab = list()
  for i in range(len(alamat_list)):
    for j in list_kab:
      if (str(j) in str(alamat_list[i])):
        #print(j)
        #print(i)
        kabupaten = j
        break
      else:
        # jika tidak ada dalam list, maka tulis tidak ditemukan
        kabupaten = 'Tidak ditemukan'
    ls_kab.append(kabupaten)
  
  #print(ls_kab)
  return ls_kab

In [ ]:
ls2 = list()
ls2 = kab(df2_1_1['Alamat '])

In [ ]:
df2_1_1['Kabupaten_final'] = ls2

In [ ]:
df2_1_1

      No   Tgl Order Pemesan  ... Unnamed: 23 order date  Kabupaten_final
748  NaN  18-05-2020      WA  ...         NaN 2020-05-18  Tidak ditemukan
749  NaN  18-05-2020      WA  ...         NaN 2020-05-18  Tidak ditemukan
753  NaN  18-05-2020     Web  ...         NaN 2020-05-18        TANGERANG
754  NaN  18-05-2020      WA  ...         NaN 2020-05-18  Tidak ditemukan
755  NaN  18-05-2020      WA  ...         NaN 2020-05-18  Tidak ditemukan
...   ..         ...     ...  ...         ...        ...              ...
2526 NaN  2020-12-22     web  ...         NaN 2020-12-22           MALANG
2527 NaN  2020-12-22     web  ...         NaN 2020-12-22           MALANG
2528 NaN  2020-12-22     web  ...         NaN 2020-12-22           MALANG
2529 NaN  2020-12-22  shopee  ...         NaN 2020-12-22            TEGAL
2530 NaN  2020-12-22     web  ...         NaN 2020-12-22         KARAWANG

[2531 rows x 36 columns]

In [ ]:
#import re

In [ ]:
'''

def kabkot (text):
    
    # regular expression containing
    # all punctuation
    result = re.findall(r'BOGOR JAKARTA BANDUNG',text)
      
    # form a string
    string = "".join(result)
      
    # list of strings return
    return list(string)
    
# creating new column name
# as a punctuation_used and 
# applying user defined function
# on each rows of Comments column
df2_2['kabkot'] = df2_2['Alamat '].apply(
                         lambda x : kabkot (x)
                         )
  
# show the Dataframe
df2_2

'''

'\n\ndef kabkot (text):\n    \n    # regular expression containing\n    # all punctuation\n    result = re.findall(r\'BOGOR JAKARTA BANDUNG\',text)\n      \n    # form a string\n    string = "".join(result)\n      \n    # list of strings return\n    return list(string)\n    \n# creating new column name\n# as a punctuation_used and \n# applying user defined function\n# on each rows of Comments column\ndf2_2[\'kabkot\'] = df2_2[\'Alamat \'].apply(\n                         lambda x : kabkot (x)\n                         )\n  \n# show the Dataframe\ndf2_2\n\n'

In [ ]:
df2_1_1['order via'] = df2_1_1['order via'].str.upper()

In [ ]:
df2_1_1[df2_1_1['order via'].isna()]

        No   Tgl Order         Pemesan  ... Unnamed: 23 order date  Kabupaten_final
230   94.0  2020-02-13           Grace  ...         NaN 2020-02-13  Tidak ditemukan
231   95.0  2020-02-13        Arifudin  ...         NaN 2020-02-13  Tidak ditemukan
258  123.0  2020-02-17  frengkinandus   ...         NaN 2020-02-17  Tidak ditemukan

[3 rows x 36 columns]

In [ ]:
df2_1_1['order via'] = df2_1_1['order via'].fillna('Unknown')

In [ ]:
df2_1_1[df2_1_1['order via'].isna()]

Empty DataFrame
Columns: [No, Tgl Order, Pemesan, Nama Penerima, Alamat , judul buku , Pengarang, jumlah pesanan , harga satuan , jumlah penjualan, discount, harga setelah diskon, ongkos kirim, Service fee, total, order via, nomor transaksi (invoice dll), KET, tgl kirim , resi , Total per judul, Royalti, Total Real, Diskon, Unnamed: 24, Unnamed: 25, No.1, Market Place, Tanggal, Pukul, Nilai Saldo, No HP, Unnamed: 26, Unnamed: 23, order date, Kabupaten_final]
Index: []

In [ ]:
df2_1_1['Order Channel']=df2_1_1['order via']

In [ ]:
df2_1_1['Order Channel'].value_counts()

WA                                  956
SHOPEE                              434
WEB                                 293
TOKOPEDIA                           127
LAZADA                              108
WEBSITE                             100
BUKALAPAK GUDANG                     94
BUKALAPAK                            77
BUKALAPAK JURAGAN                    41
WA                                   41
WEB                                  33
BUKALAPAK 1                          28
WEBSITE                              28
JNE                                  25
SHOPEE                               18
J&T                                  16
TOKOPEDIA                            13
LAZADA                               12
BUKALAPAK 2                           9
WEB                                   9
SI CEPAT                              8
TOKPED                                6
LANGSUNG                              6
WA BAPAK PEBRI                        5
CASHLESS                              5
WAHANA                                4
Unknown                               3
BUKALAPAK GUDANG                      3
BUKALAPAK GUDANG NARDJUS              2
DIAMBIL                               2
BUKALAPAK GUDANG ANDREAS              1
BUKALAPAK GUDANG BINKY REZA           1
BUKAAPAK GUDANG                       1
SHOPE                                 1
AMBIL                                 1
BAKALAPAK GUDANG                      1
LAZADA \n                             1
BUKALAPAK GUDANG YULI                 1
ANTER AJA                             1
BUKALAPAK GUDANG SUKIRNO\n            1
BUKALAPAK JURAGAN                     1
BUKALAPAK JURAGAN RENANDA             1
BUKALAPAK GUDANG MAFRUDDIN            1
BUKALAPAK JURAGAN TUMIRIN             1
BUKALAPK                              1
BUKALAPAK GUDANG NIKEN DEWI           1
BUKALAPAK GUDANG DINA                 1
SHOPEE \n                             1
KAK AFIF                              1
BUKALAPAK GUDANG SYAICHUL GHULAM      1
BUKALAPAK GUDANG IIR                  1
WA ANISA SUCIATI                      1
WA RATNA PERDANA                      1
WA I GDE PUTU AGUS PRAMERTA           1
SHOPEE KATALOG                        1
Name: Order Channel, dtype: int64

In [ ]:
#find type of value on Harga Awal / check null value

#check type
#df2x = df2_1_1[pd.to_numeric(df2_1_1['harga satuan '], errors='coerce').notnull()] #isnull tofind string, notnull to find int/float

#check null
df2x = df2_1_1[df2_1_1['harga satuan '].isna()]
df2x

      No   Tgl Order Pemesan  ... order date Kabupaten_final Order Channel
1708 NaN  2020-09-21     Web  ... 2020-09-21       TANGERANG           WEB
1710 NaN  2020-09-21      WA  ... 2020-09-21          BANTUL            WA
1905 NaN  2020-12-10     web  ... 2020-12-10   JAKARTA BARAT           WEB

[3 rows x 37 columns]

In [ ]:
df2_1_1[df2_1_1['judul buku '].str.contains('Pengantar Analisis Data Menggunakan')]
#find simillar price based on title, and order channel
# cant found Fenomena Korupsi Dari Sudut Pandang Epidemiologi & Buku Ajar Ilmu Kesehatan Masyarakat (Ikm), based on company web
#their price was 70000 and 81500

      No   Tgl Order    Pemesan  ... order date  Kabupaten_final Order Channel
807  NaN   2-06-2020     Shopee  ... 2020-06-02    JAKARTA PUSAT        SHOPEE
1242 NaN  29-07-2020        Web  ... 2020-07-29            DEPOK           WEB
2050 NaN  30-10-2020     shopee  ... 2020-10-30           MALANG        SHOPEE
702  NaN  2020-05-04    Website  ... 2020-05-04  Tidak ditemukan       WEBSITE
1668 NaN  2020-09-16  BUKALAPAK  ... 2020-09-16       PANDEGLANG     BUKALAPAK
1905 NaN  2020-12-10        web  ... 2020-12-10    JAKARTA BARAT           WEB
2214 NaN  2020-11-16     shopee  ... 2020-11-16         SURABAYA      CASHLESS
2453 NaN  2020-12-14        web  ... 2020-12-14        SURAKARTA           WEB

[8 rows x 37 columns]

In [ ]:
#fill book price value

In [ ]:
df2_1_1.loc[[1905]]

      No   Tgl Order Pemesan  ... order date Kabupaten_final Order Channel
1905 NaN  2020-12-10     web  ... 2020-12-10   JAKARTA BARAT           WEB

[1 rows x 37 columns]

In [ ]:
df2_1_1.loc[[1708],'harga satuan '] = 70000 #price from deepbulish web
df2_1_1.loc[[1710],'harga satuan '] = 81500 #price from deepbulish web
df2_1_1.loc[[1905],'harga satuan '] = 86000 #price from simillar title and orderchannel

In [ ]:
#create new column 'Harga Buku'
df2_1_1['Harga Buku']=df2_1_1['harga satuan ']
#change to integer
df2_1_1['Harga Buku'] = df2_1_1['Harga Buku'].apply(np.int64)

In [ ]:
#CEK TOTAL QTY BUKU SOLD
dft2 = df2_1_1.agg({'jumlah pesanan ':'sum'}).reset_index()
dft2

             index       0
0  jumlah pesanan   3126.0

# Read dataset 3
### Data penjualan order online 2021

In [ ]:
#load file
df3 = pd.read_excel('/content/gdrive/MyDrive/Deepublish/Raw Dataset/Copy of data order online 2021 terbaru ed.xlsx', sheet_name=None, index_col=None)
df3_1 = pd.concat(df3.values())

In [ ]:
df3_1.head(3)

             Tgl Order Pemesanan  ... Nama Penerima jumlah pesanan
0  2020-12-23 00:00:00        wa  ...           NaN             NaN
1  2020-12-23 00:00:00  langsung  ...           NaN             NaN
2  2020-12-23 00:00:00        wa  ...           NaN             NaN

[3 rows x 26 columns]

In [ ]:
# uppercase all addres for next function
df3_1['Alamat '] = df3_1['Alamat '].str.upper()

In [ ]:
#book title to tile case
df3_1['judul buku '] = df3_1['judul buku '].str.title()

In [ ]:
#drop blank row
df3_1.dropna(subset = ["judul buku "], inplace=True)

In [ ]:
#reset index
df3_1.reset_index(drop=True, inplace=True)

In [ ]:
#remove decimal on column 'jumlah penjualan'
#df3_1['jumlah penjualan']= df3_1['jumlah penjualan'].round(decimals=0).astype(object)

In [ ]:
#change to integer
#df3_1['jumlah penjualan'].astype(float).astype(int)

In [ ]:
df3_1

                Tgl Order Pemesanan  ...         Nama Penerima jumlah pesanan
0     2020-12-23 00:00:00        wa  ...                   NaN             NaN
1     2020-12-23 00:00:00  langsung  ...                   NaN             NaN
2     2020-12-23 00:00:00        wa  ...                   NaN             NaN
3     2020-12-23 00:00:00        wa  ...                   NaN             NaN
4     2020-12-24 00:00:00    shopee  ...                   NaN             NaN
...                   ...       ...  ...                   ...             ...
4324                23/12       NaN  ...                  ALDI             1.0
4325                23/12       NaN  ...                   Ria             1.0
4326                23/12       NaN  ...       Laode Mondolalo             1.0
4327                23/12       NaN  ...       Laode Mondolalo             1.0
4328                23/12       NaN  ...  Zuarnida Simanjuntak             1.0

[4329 rows x 26 columns]

In [ ]:
df3_1[df3_1['jumlah pesanan '].isna()]

                Tgl Order Pemesanan  ... Nama Penerima jumlah pesanan
0     2020-12-23 00:00:00        wa  ...           NaN             NaN
1     2020-12-23 00:00:00  langsung  ...           NaN             NaN
2     2020-12-23 00:00:00        wa  ...           NaN             NaN
3     2020-12-23 00:00:00        wa  ...           NaN             NaN
4     2020-12-24 00:00:00    shopee  ...           NaN             NaN
...                   ...       ...  ...           ...             ...
1585  2021-06-23 00:00:00        wa  ...           NaN             NaN
1586  2021-06-23 00:00:00        wa  ...           NaN             NaN
1587  2021-06-23 00:00:00        wa  ...           NaN             NaN
1588  2021-06-23 00:00:00        wa  ...           NaN             NaN
1589  2021-06-23 00:00:00        wa  ...           NaN             NaN

[1590 rows x 26 columns]

In [ ]:
df3_1['jumlah pesanan '] = df3_1['jumlah pesanan '].fillna(df3_1['harga satuan '])

In [ ]:
df3x = df3_1[df3_1['jumlah pesanan '] > 50]
df3x

                Tgl Order  ... jumlah pesanan
217   1900-01-21 00:00:00  ...            55.0
2583  2021-09-17 00:00:00  ...            51.0
3101  2021-11-05 00:00:00  ...           160.0
4113  2021-12-06 00:00:00  ...            80.0

[4 rows x 26 columns]

In [ ]:
# fill null value on column 'harga'
#df3_1['harga'] = df3_1['harga'].fillna(df3_1['harga satuan '])

In [ ]:
#find blank   
#df3_1[df3_1['harga'].isna()]

In [ ]:
#df3_1[df3_1['judul buku '].str.contains('Professional Development')]

In [ ]:
#fill nan value with simillar book title
#df3_1['harga'].replace(to_replace = np.nan, value =123000.0,inplace=True)

In [ ]:
#fill nan value with simillar book title
#df3_1['jumlah penjualan'].replace(to_replace = 0.0, value =123000.0,inplace=True)

In [ ]:
df3_1['jumlah pesanan '].astype(float).astype(int)

0       1
1       1
2       1
3       1
4       1
       ..
4324    1
4325    1
4326    1
4327    1
4328    1
Name: jumlah pesanan , Length: 4329, dtype: int64

In [ ]:
df3_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4329 entries, 0 to 4328
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Tgl Order                      4329 non-null   object
 1   Pemesanan                      1590 non-null   object
 2   Nama                           1590 non-null   object
 3   Alamat                         4328 non-null   object
 4   judul buku                     4329 non-null   object
 5   Pengarang                      4327 non-null   object
 6   harga satuan                   4328 non-null   object
 7   harga                          1590 non-null   float64
 8   jumlah penjualan               4329 non-null   float64
 9   discount                       2062 non-null   float64
 10  harga setelah diskon           4329 non-null   float64
 11  ongkos kirim                   1630 non-null   float64
 12  Service fee                    727 non-null    object
 13  total                          4321 non-null   float64
 14  order via                      4270 non-null   object
 15  nomor transaksi (invoice dll)  389 non-null    object
 16  KET                            4297 non-null   object
 17  tgl kirim                      401 non-null    object
 18  resi                           322 non-null    object
 19  Total per judul                0 non-null      float64
 20  Royalti                        0 non-null      float64
 21  Total Real                     0 non-null      float64
 22  Diskon                         0 non-null      float64
 23  Pemesan                        2739 non-null   object
 24  Nama Penerima                  2739 non-null   object
 25  jumlah pesanan                 4329 non-null   float64
dtypes: float64(11), object(15)
memory usage: 879.5+ KB

In [ ]:
#create new feature contain sum of book order
df3_1['Jumlah Produk di Pesan'] = df3_1['jumlah pesanan ']

In [ ]:
#check value
#df3x = df3_1[df3_1['Jumlah Produk di Pesan'] > 100]
#df3x

In [ ]:
#check blank row
df3_1[df3_1['judul buku '].isnull()]

Empty DataFrame
Columns: [Tgl Order, Pemesanan, Nama, Alamat , judul buku , Pengarang, harga satuan , harga, jumlah penjualan, discount, harga setelah diskon, ongkos kirim, Service fee, total, order via, nomor transaksi (invoice dll), KET, tgl kirim , resi , Total per judul, Royalti, Total Real, Diskon, Pemesan, Nama Penerima, jumlah pesanan , Jumlah Produk di Pesan]
Index: []

In [ ]:
#separate the date that have year and without year

#without year
df3_2 = df3_1[df3_1['Tgl Order'].apply(lambda x: len(str(x)) < 6)]

#withyear
df3_3 = df3_1[df3_1['Tgl Order'].apply(lambda x: len(str(x)) > 15)]

In [ ]:
#change separator slash to stripe
df3_2.replace({'Tgl Order' : {'/':'-'}}, regex=True,inplace=True)
#add Year
df3_2['Tgl Order' ] += '-2021'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df3_3['Tgl Order'] = df3_3['Tgl Order'].astype(str)
df3_3['Tgl Order'] = df3_3['Tgl Order'].str.replace(' 00:00:00', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df3_2['order date'] =  pd.to_datetime(df3_2['Tgl Order'], format='%d-%m-%Y')

ValueError: ignored

In [ ]:
#find false date
df3_2[df3_2['Tgl Order'].str.contains("13-2021")]

       Tgl Order Pemesanan  ... jumlah pesanan  Jumlah Produk di Pesan
4196  15-13-2021       NaN  ...             1.0                    1.0
4209  16-13-2021       NaN  ...             1.0                    1.0
4294  20-13-2021       NaN  ...             1.0                    1.0

[3 rows x 27 columns]

In [ ]:
#replace false date value 'assumed month 13 to december (12)'
df3_2['Tgl Order'] = df3_2['Tgl Order'].str.replace('13-2021', '12-2021')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#find false date
df3_3[df3_3['Tgl Order'].str.contains("1900")]

      Tgl Order Pemesanan  ... jumlah pesanan  Jumlah Produk di Pesan
217  1900-01-21        wa  ...            55.0                   55.0

[1 rows x 27 columns]

In [ ]:
#replace false date value '1900 to 2021'
df3_3['Tgl Order'] = df3_3['Tgl Order'].str.replace('1900', '2021')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#Create new order date column
df3_2['order date'] =  pd.to_datetime(df3_2['Tgl Order'], format='%d-%m-%Y')
df3_3['order date'] =  pd.to_datetime(df3_3['Tgl Order'], format='%Y-%m-%d')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#concat
df3_1_1 = pd.concat([df3_2,df3_3])

In [ ]:
#kabkot finder function
def kab(alamat):
  kabupaten=''
  alamat_list = alamat.to_list()
  ls_kab = list()
  for i in range(len(alamat_list)):
    for j in list_kab:
      if (str(j) in str(alamat_list[i])):
        #print(j)
        #print(i)
        kabupaten = j
        break
      else:
        # jika tidak ada dalam list, maka tulis tidak ditemukan
        kabupaten = 'Tidak ditemukan'
    ls_kab.append(kabupaten)
  
  #print(ls_kab)
  return ls_kab

In [ ]:
ls3 = list()
ls3 = kab(df3_1_1['Alamat '])

In [ ]:
df3_1_1['Kabupaten_final'] = ls3

In [ ]:
df3_1_1.head(10)

       Tgl Order  Pemesanan  ... order date Kabupaten_final
1192  15-04-2021         wa  ... 2021-04-15        KARAWANG
1193  15-04-2021        web  ... 2021-04-15   JAKARTA BARAT
1194  15-04-2021         wa  ... 2021-04-15     BUKITTINGGI
1195  15-04-2021     shopee  ... 2021-04-15      PEKALONGAN
1196  16-04-2021         wa  ... 2021-04-16         TERNATE
1197  16-04-2021        web  ... 2021-04-16           DEPOK
1198  19-04-2021     shopee  ... 2021-04-19          LINGGA
1199  19-04-2021     shopee  ... 2021-04-19          MALANG
1200  19-04-2021  bukalapak  ... 2021-04-19           BOGOR
1201  19-04-2021  bukalapak  ... 2021-04-19           BOGOR

[10 rows x 29 columns]

In [ ]:
# Order Channel

In [ ]:
df3_1_1['order via'] = df3_1_1['order via'].fillna(df3_1_1['Pemesan'])

In [ ]:
df3_1_1[df3_1_1['order via'].isna()]

      Tgl Order  Pemesanan  ... order date  Kabupaten_final
602  2021-02-23  tokopedia  ... 2021-02-23  JAKARTA SELATAN
603  2021-02-23  tokopedia  ... 2021-02-23  JAKARTA SELATAN
604  2021-02-23  tokopedia  ... 2021-02-23  JAKARTA SELATAN

[3 rows x 29 columns]

In [ ]:
df3_1_1['order via'] = df3_1_1['order via'].fillna(df3_1_1['Pemesanan'])

In [ ]:
df3_1_1[df3_1_1['order via'].isna()]

Empty DataFrame
Columns: [Tgl Order, Pemesanan, Nama, Alamat , judul buku , Pengarang, harga satuan , harga, jumlah penjualan, discount, harga setelah diskon, ongkos kirim, Service fee, total, order via, nomor transaksi (invoice dll), KET, tgl kirim , resi , Total per judul, Royalti, Total Real, Diskon, Pemesan, Nama Penerima, jumlah pesanan , Jumlah Produk di Pesan, order date, Kabupaten_final]
Index: []

In [ ]:
df3_1_1['order via'] = df3_1_1['order via'].str.upper()

In [ ]:
df3_1_1['Order Channel']=df3_1_1['order via']

In [ ]:
df3_1_1['Order Channel'].value_counts()

WA                   2425
SHOPEE                837
WEB                   486
TOKOPEDIA             219
LAZADA                179
BUKALAPAK             146
EXPO                   12
LANGSUNG                9
BUKALAPAK JURAGAN       8
SHOPPEE                 4
BUKAKAPAK               1
BUKALAPAK 2             1
JNE                     1
J&T                     1
Name: Order Channel, dtype: int64

In [ ]:
df3_1_1[df3_1_1['harga'].isna()]

       Tgl Order Pemesanan Nama  ... order date  Kabupaten_final Order Channel
2584  20-09-2021       NaN  NaN  ... 2021-09-20           BEKASI        SHOPEE
2585  20-09-2021       NaN  NaN  ... 2021-09-20         MAKASSAR        SHOPEE
2586  20-09-2021       NaN  NaN  ... 2021-09-20     GUNUNG KIDUL        SHOPEE
2587  20-09-2021       NaN  NaN  ... 2021-09-20  LAMPUNG SELATAN        SHOPEE
2588  20-09-2021       NaN  NaN  ... 2021-09-20  LAMPUNG SELATAN        SHOPEE
...          ...       ...  ...  ...        ...              ...           ...
4149  2021-12-10       NaN  NaN  ... 2021-12-10           BREBES            WA
4150  2021-12-10       NaN  NaN  ... 2021-12-10  Tidak ditemukan            WA
4151  2021-12-10       NaN  NaN  ... 2021-12-10  Tidak ditemukan            WA
4152  2021-12-10       NaN  NaN  ... 2021-12-10         BANYUMAS           WEB
4153  2021-12-10       NaN  NaN  ... 2021-12-10     NIAS SELATAN            WA

[2739 rows x 30 columns]

In [ ]:
df3_1_1['harga'] = df3_1_1['harga'].fillna(df3_1_1['harga satuan '])

In [ ]:
#recheck
df3_1_1[df3_1_1['harga'].isna()]

       Tgl Order Pemesanan Nama  ... order date   Kabupaten_final Order Channel
2703  2021-10-01       NaN  NaN  ... 2021-10-01  PEMATANG SIANTAR        SHOPEE

[1 rows x 30 columns]

In [ ]:
df3_1_1[df3_1_1['judul buku '].str.contains('Professional Development')]

       Tgl Order Pemesanan Nama  ... order date   Kabupaten_final Order Channel
2703  2021-10-01       NaN  NaN  ... 2021-10-01  PEMATANG SIANTAR        SHOPEE
2988  2021-10-28       NaN  NaN  ... 2021-10-28           CIREBON        SHOPEE

[2 rows x 30 columns]

In [ ]:
df3_1_1.loc[[2703],'harga'] = 123000 #price from simillar title and orderchannel

In [ ]:
#create new column 'Harga Buku'
df3_1_1['Harga Buku']=df3_1_1['harga']
#change to integer
df3_1_1['Harga Buku'] = df3_1_1['Harga Buku'].apply(np.int64)

In [ ]:
#CEK TOTAL QTY BUKU SOLD
dft3 = df3_1_1.agg({'Jumlah Produk di Pesan':'sum'}).reset_index()
dft3

                    index       0
0  Jumlah Produk di Pesan  6901.0

# Combine the datasets

In [ ]:
#select column
df1_a=df1[['order date', 'Nama Produk','Harga Buku','Jumlah Produk di Pesan','Kabupaten_final','Order Channel']]
#rename column
df1_a.rename({'order date': 'Tgl Pemesanan', 'Nama Produk': 'Judul Buku','Kabupaten_final': 'Kabupaten/Kota',}, axis=1, inplace=True)
#Change datetype
df1_a['Tgl Pemesanan'] = pd.to_datetime(df1_a['Tgl Pemesanan'], format='%Y-%m-%d')
df1_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10933 entries, 0 to 10932
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tgl Pemesanan           10933 non-null  datetime64[ns]
 1   Judul Buku              10933 non-null  object
 2   Harga Buku              10933 non-null  int64
 3   Jumlah Produk di Pesan  10933 non-null  float64
 4   Kabupaten/Kota          10933 non-null  object
 5   Order Channel           10933 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 512.6+ KB

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#select column
df3_a=df3_1_1[['order date', 'judul buku ','Harga Buku', 'Jumlah Produk di Pesan','Kabupaten_final','Order Channel']]
#rename column
df3_a.rename({'order date': 'Tgl Pemesanan', 'judul buku ': 'Judul Buku', 'Kabupaten_final': 'Kabupaten/Kota'}, axis=1, inplace=True)
df3_a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4329 entries, 1192 to 4153
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tgl Pemesanan           4329 non-null   datetime64[ns]
 1   Judul Buku              4329 non-null   object
 2   Harga Buku              4329 non-null   int64
 3   Jumlah Produk di Pesan  4329 non-null   float64
 4   Kabupaten/Kota          4329 non-null   object
 5   Order Channel           4329 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 365.8+ KB

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
#select column
df2_a=df2_1_1[['order date', 'judul buku ','Harga Buku', 'jumlah pesanan ','Kabupaten_final','Order Channel']]
#rename column
df2_a.rename({'order date': 'Tgl Pemesanan', 'judul buku ': 'Judul Buku', 'jumlah pesanan ': 'Jumlah Produk di Pesan','Kabupaten_final': 'Kabupaten/Kota'}, axis=1, inplace=True)
df2_a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2531 entries, 748 to 2530
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tgl Pemesanan           2531 non-null   datetime64[ns]
 1   Judul Buku              2531 non-null   object
 2   Harga Buku              2531 non-null   int64
 3   Jumlah Produk di Pesan  2531 non-null   float64
 4   Kabupaten/Kota          2531 non-null   object
 5   Order Channel           2531 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 203.0+ KB

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_all = pd.concat([df1_a,df2_a,df3_a])
#remove decimal on column 'Jumlah Produk di Pesan'
df_all['Jumlah Produk di Pesan']= df_all['Jumlah Produk di Pesan'].astype(int)
#sort by date
df_all = df_all.sort_values(by = 'Tgl Pemesanan')
#reset index
df_all.reset_index(drop=True, inplace=True)

In [ ]:
#df_all['Order Channel'].value_counts()

In [ ]:
#CLEANING ORDER CHANNEL VALUE

In [ ]:
df_all['Order Channel'] = df_all['Order Channel'].apply(lambda x: 'BUKALAPAK' if 'BUKA' in x else x)

In [ ]:
df_all['Order Channel'] = df_all['Order Channel'].apply(lambda x: 'TOKOPEDIA' if 'TOK' in x else x)
df_all['Order Channel'] = df_all['Order Channel'].apply(lambda x: 'WHATSAPP' if 'WA' in x else x)
df_all['Order Channel'] = df_all['Order Channel'].apply(lambda x: 'WEBSITE' if 'WEB' in x else x)
df_all['Order Channel'] = df_all['Order Channel'].apply(lambda x: 'LAZADA' if 'LAZ' in x else x)
df_all['Order Channel'] = df_all['Order Channel'].apply(lambda x: 'BUKALAPAK' if 'BAKA' in x else x)

In [ ]:
df_all['Order Channel'] = df_all['Order Channel'].apply(lambda x: 'RESELLER' if 'SHOPEE RESELLER' in x else x)
df_all['Order Channel'] = df_all['Order Channel'].apply(lambda x: 'SHOPEE' if 'SHO' in x else x)
df_all['Order Channel'] = df_all['Order Channel'].apply(lambda x: 'RESELLER SHOPEE' if 'RESELLER' in x else x)

In [ ]:
df_all['Order Channel'].where(df_all['Order Channel'].isin(['RESELLER SHOPEE', 'WHATSAPP','SHOPEE','WEBSITE','BUKALAPAK','TOKOPEDIA','LAZADA']), 'OTHER',inplace=True)

In [ ]:
#Add Separet Year, Month, Date Feature for further regresession analytics
df_all['Tahun']=pd.DatetimeIndex(df_all['Tgl Pemesanan']).year
df_all['Bulan']=pd.DatetimeIndex(df_all['Tgl Pemesanan']).month
df_all['Tanggal']=pd.DatetimeIndex(df_all['Tgl Pemesanan']).day
df_all['Minggu']=pd.DatetimeIndex(df_all['Tgl Pemesanan']).week

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  """

In [ ]:
df_all

      Tgl Pemesanan  ... Minggu
0        2019-01-02  ...      1
1        2019-12-30  ...      1
2        2019-12-30  ...      1
3        2019-12-30  ...      1
4        2019-12-30  ...      1
...             ...  ...    ...
17788    2021-12-23  ...     51
17789    2021-12-23  ...     51
17790    2021-12-23  ...     51
17791    2021-12-23  ...     51
17792    2021-12-23  ...     51

[17793 rows x 10 columns]

In [ ]:
'''

CANNOT ADD PROVINCE WITH LEFT JOIN BY KABUPATEN/KOTA KEY

'''

'\n\nCANNOT ADD PROVINCE WITH LEFT JOIN BY KABUPATEN/KOTA KEY\n\n'

In [ ]:
#dfnew = df_all.merge(df_kab, left_on='Kabupaten/Kota', right_on='Regencies', how='outer', suffixes=('', '_y'))

In [ ]:
#dfnew.drop(dfnew.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

In [ ]:
# add Province with join by kabkot as a key from province-regencies database
#df_all = df_all.merge(df_kab, left_on='Kabupaten/Kota', right_on='Regencies')

In [ ]:
#drop unnecessary colum from merging process
#df_all =  df_all.drop(['Reg code', 'Prov Code', 'Regencies'], axis = 1)

In [ ]:
#rename Province Column
#df_all.rename({'Province':'Provinsi'}, axis=1, inplace=True)

In [ ]:
#Rearange Column
#df_all = df_all[['Tgl Pemesanan', 'Judul Buku', 'Jumlah Produk di Pesan','Kabupaten/Kota','Provinsi','Order Channel','Tahun','Bulan','Tanggal','Minggu']]
#df_all

In [ ]:
#find Duplicate
#df_test = df_all
#df_test =df_test[df_test.duplicated(['Jumlah Produk di Pesan','Tgl Pemesanan','Judul Buku','Kabupaten/Kota','Order Channel','Provinsi'], keep=False)]
#df_test.info()

In [ ]:
#DOWNLOAD
#export for google data studio
from google.colab import files
df_all.to_excel('company sales data.xlsx',encoding='utf-8',index=False)
files.download('company sales data.xlsx')

#Create reseller shopee clean dataset for hourly analysis

In [ ]:
#select column
df_RS=df1[['order date', 'Nama Produk','Harga Buku','Jumlah Produk di Pesan','Kabupaten_final','Order Channel','order time','Waktu Pesanan Dibuat']]
#rename column
df_RS.rename({'order date': 'Tgl Pemesanan', 'Nama Produk': 'Judul Buku','Kabupaten_final': 'Kabupaten/Kota','order time':'Waktu Pemesanan'}, axis=1, inplace=True)
#Change datetype
df_RS['Tgl Pemesanan'] = pd.to_datetime(df_RS['Tgl Pemesanan'], format='%Y-%m-%d')
df_RS['Waktu Pesanan Dibuat'] = pd.to_datetime(df_RS['Waktu Pesanan Dibuat'], format='%Y-%m-%d %H:%M')
df_RS['Jam Pemesanan'] = df_RS['Waktu Pemesanan'].str[:2]
#df_RS['Waktu Pemesanan'] = df_RS['Waktu Pemesanan'].dt.strftime('%H:%M')

df_RS

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Tgl Pemesanan  ... Jam Pemesanan
0        2020-10-25  ...            18
1        2020-10-25  ...            18
2        2020-12-01  ...            07
3        2020-12-01  ...            09
4        2020-12-01  ...            11
...             ...  ...           ...
10928    2021-12-15  ...            11
10929    2021-12-15  ...            12
10930    2021-12-15  ...            12
10931    2021-12-15  ...            16
10932    2021-12-15  ...            20

[10933 rows x 9 columns]

In [ ]:
#DOWNLOAD
#export for google data studio
from google.colab import files
df_RS.to_excel('company HOULY SALES data.xlsx',encoding='utf-8',index=False)
files.download('company HOULY SALES data.xlsx')

# Menampilkan jumlah penjualan buku per kabupaten

In [ ]:
df33 = df_all.groupby('Kabupaten/Kota').size()
df33

Kabupaten/Kota
ACEH BARAT           7
ACEH BARAT DAYA      1
ACEH BESAR           5
ACEH TAMIANG         3
ACEH TENGAH          2
                  ...
WARINGIN TIMUR       9
WAY KANAN            7
WONOGIRI            24
WONOSOBO            43
YOGYAKARTA         703
Length: 408, dtype: int64

In [ ]:
df_kab = df_all.groupby(['Kabupaten/Kota']).agg({'Jumlah Produk di Pesan':'sum'}).reset_index()
df_kab = df_kab.rename(columns={'Jumlah Produk di Pesan': 'total_penjualan'})
df_kab

      Kabupaten/Kota  total_penjualan
0         ACEH BARAT                9
1    ACEH BARAT DAYA                1
2         ACEH BESAR                6
3       ACEH TAMIANG                3
4        ACEH TENGAH                2
..               ...              ...
403   WARINGIN TIMUR               17
404        WAY KANAN                8
405         WONOGIRI               28
406         WONOSOBO               51
407       YOGYAKARTA             1007

[408 rows x 2 columns]

In [ ]:
df_kab = df_all.groupby(['Kabupaten/Kota']).agg({'Jumlah Produk di Pesan':'sum'}).reset_index()
df_kab = df_kab.rename(columns={'Jumlah Produk di Pesan': 'total_penjualan'})
df_kab.sort_values(by='total_penjualan', ascending=False, inplace=True)
df_kab

       Kabupaten/Kota  total_penjualan
359          SURABAYA             1611
407        YOGYAKARTA             1007
326          SEMARANG              806
17            BANDUNG              697
47             BEKASI              601
..                ...              ...
131        JAYAWIJAYA                1
338            SINJAI                1
255        NIAS UTARA                1
387  TIDORE KEPULAUAN                1
96            DOGIYAI                1

[408 rows x 2 columns]

# Analisa Sementara

In [ ]:
df_kab_book = df_all.groupby(['Kabupaten/Kota','Judul Buku']).agg({'Jumlah Produk di Pesan':'sum'}).reset_index()
df_kab_book

      Kabupaten/Kota  ... Jumlah Produk di Pesan
0         ACEH BARAT  ...                      2
1         ACEH BARAT  ...                      1
2         ACEH BARAT  ...                      2
3         ACEH BARAT  ...                      1
4         ACEH BARAT  ...                      1
...              ...  ...                    ...
15912     YOGYAKARTA  ...                      1
15913     YOGYAKARTA  ...                      1
15914     YOGYAKARTA  ...                      1
15915     YOGYAKARTA  ...                      5
15916     YOGYAKARTA  ...                      4

[15917 rows x 3 columns]

In [ ]:
df_P = df_all.groupby(['Provinsi']).agg({'Jumlah Produk di Pesan':'sum'}).reset_index()
df_P = df_P.rename(columns={'Jumlah Produk di Pesan': 'total_penjualan'})
df_P.sort_values(by='total_penjualan', ascending=False, inplace=True)
df_P

KeyError: ignored

In [ ]:
df_OC = df_all.groupby(['Order Channel']).agg({'Jumlah Produk di Pesan':'sum'}).reset_index()
df_OC = df_OC.rename(columns={'Jumlah Produk di Pesan': 'total_penjualan'})
df_OC.sort_values(by='total_penjualan', ascending=False, inplace=True)
df_OC

In [ ]:
df_Bulan = df_all.groupby(['Bulan']).agg({'Jumlah Produk di Pesan':'sum'}).reset_index()
df_Bulan = df_Bulan.rename(columns={'Jumlah Produk di Pesan': 'total_penjualan'})
df_Bulan.sort_values(by='total_penjualan', ascending=False, inplace=True)
df_Bulan['Bulan'] = pd.to_datetime(df_Bulan['Bulan'], format='%m').dt.month_name().str.slice(stop=3)
df_Bulan

#ANALISA REGRESI

In [ ]:
#corr = df_all.corr()

#plt.figure(figsize=(15,10))
#palette = sns.diverging_palette(20, 220, n=256)
#sns.heatmap(corr, annot=True, fmt=".2f", cmap=palette, vmax=.3, center=0,
#            square=True, linewidths=.5, cbar_kws={"shrink": .5}).set(ylim=(11, 0))
#plt.title("Correlation Matrix",size=10, weight='bold')

# VIF

In [ ]:
#df_all.describe()

In [ ]:
#!pip install sweetviz

In [ ]:
#import sweetviz as sv

In [ ]:
#report = sv.analyze(df_all[['Tgl Pemesanan', 'Judul Buku', 'Jumlah Produk di Pesan','Kabupaten/Kota', 'Order Channel', 'Tahun', 'Bulan', 'Tanggal','Minggu']])
#report.show_notebook()

In [ ]:
#df_all.columns

In [ ]:
#!pip install autoviz

In [ ]:
#from autoviz.AutoViz_Class import AutoViz_Class

#AV=AutoViz_Class()